.dashboard {
  padding: 40px;
}

.stats {
  display: flex;
  gap: 20px;
}

.card {
  padding: 20px;
  background: white;
  border-radius: 12px;
  flex: 1;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}